@page "/"

<PageTitle>خانه </PageTitle>

<h1>به صفحه اصلی وبسایت خوش آمدید!</h1>

<div class="w-100 d-flex justify-content-center">
    <img src="./monstergogoli.png" alt="Welcome Image" class="img-fluid my-4 p-4 w-50" />
</div>
